@media all {

  #modal-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    backdrop-filter: blur(2px);
  }

  #modal-content {
    position: relative;
    top: 0;
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
    height: 95%;
    background-color: white;
    box-shadow: 0px 8px 24px 0px rgba(66, 68, 90, 1);
    border-radius: 6px;
  }

  .modal-show {
    opacity: 1;
  }

  .modal-hide {
    opacity: 0;
    visibility: hidden;
  }

  #modal-button {
    position: absolute;
    display: inline-block;
    background-color: var(--lightGray);
    right: 10px;
    top: 10px;
    width: fit-content;
  }

  #modal-header {
    color: var(--black);
    font-family: Oswald;
    width: 100%
  }

  #modal-ul {
    padding: 20px;
    list-style: none;
  }

  #modal-ul li {
    font-weight: normal;
    font-family: 'Comic Neue', cursive;
    font-size: 1.1rem;
    padding: 6px;
    border-radius: 8px;
    /* border: 1px solid var(--darkGray); */
  }

  #example-div-container {
    width: 100%;
    padding: 8px 0;
  }

  .example-tile {
    display: inline;
    padding: 6px;
    border: 1px solid black;
    aspect-ratio: 1 / 1;
    /* width: 100%; */
    margin-left: 4px;
    background-color: var(--darkGray);
    color: white;
    font-weight: bold;
  }

  .example-tile:nth-child(1) {
    background-color: var(--green);
  }

  .example-tile:nth-child(4) {
    background-color: var(--yellow);
  }


  .tile.shake {
    animation: shake 600ms ease-in-out;
  }

  @keyframes shake {
    12.5% {
      transform: translateX(-8%);
    }

    25% {
      transform: translateX(8%);
    }

    37.5% {
      transform: translateX(-6%);
    }

    50% {
      transform: translateX(6%);
    }

    62.5% {
      transform: translateX(-4%);
    }

    75% {
      transform: translateX(-4%);
    }

    87.5% {
      transform: translateX(-2%);
    }

    100% {
      transform: translateX(0);
    }
  }

  .tile.dance {
    animation: dance 500ms ease-in-out;
  }

  @keyframes dance {
    20% {
      transform: translateY(-50%);
    }

    40% {
      transform: translateY(5%);
    }

    60% {
      transform: translateY(-25%);
    }

    80% {
      transform: translateY(2.5%);
    }

    90% {
      transform: translateY(-5%);
    }

    100% {
      transform: translateY(0);
    }
  }



  .tile.flip {
    animation: flip 750ms ease forwards;
  }

  .flip:nth-child(2) {
    animation-delay: 100ms;
  }

  .flip:nth-child(3) {
    animation-delay: 200ms;
  }

  .flip:nth-child(4) {
    animation-delay: 300ms;
  }

  .flip:nth-child(5) {
    animation-delay: 400ms;
  }

  @keyframes flip {
    0% {
      transform: scaleY(1);
    }

    50% {
      background: white;
      transform: scaleY(0);
    }

    100% {
      transform: scaleY(1);
      background: var(--flipColor);
    }
  }


  .tile.grow-and-shrink {
    animation: grow-and-shrink 150ms linear;
  }

  @keyframes grow-and-shrink {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

}