:root {
  --green: #6aaa64;
  --darkendGreen: #538d4e;
  --yellow: #c9b458;
  /* --darkendYellow: #b59f3b;
  --spellingBeeYellow: #f7da21; */
  --lightGray: #d3d6da;
  --gray: #86888a;
  --gray-2: #dcdcdc;
  --gray-3: #dfdfdf;
  --gray-4: #cccccc;
  --darkGray: #939598;
  --white: #fff;
  --black: #212121;
  --black-2: #121212;
  --black-3: #363636;
  --black-4: #cfcfcf;
  --blue-2: #477aaa;
  --orange: #f5793a;
  --blue: #85c0f9;
  --outlineBlue: #2671dc;
  --flip-background-color: white;
}



* {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  /* border: 2px solid red; */
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 16px;
  /* min-width: 500px; */
  /* overflow: hidden; */
}

#main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: 0 auto 0 auto;
  /* justify-content: space-between; */
  /* justify-content: center; */
  /* overflow: hidden; */
}

h1 {
  font-size: 3rem;
  text-align: center;
  font-family: Oswald, sans-serif;
  /* font-weight: 900; */
  /* margin-top: 0px; */
  padding: 20px;
  border-bottom: 1px solid var(--lightGray);
}

.message-box {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  /* right: 50%; */
  display: block;
  width: fit-content;

  border-radius: 6px;
  visibility: hidden;
  /* text-align: center; */
  padding: 0.8em;
  background-color: var(--black);
  font-weight: normal;
  color: white;
  /* margin-top: 0; */
  /* transform:translate(-50%, 0);
  transition:opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1); */
}

.game-container {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-content: center; */
  /* align-items: center; */
  width: 500px;
  height: 100vh;
  /* flex: 1; */
  /* margin: auto auto 0 auto; */
  /* overflow: hidden; */
  margin: auto;
}

.guess-rows {
  /* align-self: center; */
  /* flex-grow: 1; */
  margin: auto auto;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 420px;
  font-size: 2rem;
  padding: 10px;
  /* border: 1px solid green; */
}

.tile-row div {
  display: flex;
}

.tile-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.tile {
  display: inline-flex;
  line-height: 1;
  text-transform: uppercase;
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 2px solid var(--lightGray);
  justify-content: center;
  align-items: center;
  user-select: none;
  flex: 1;
  vertical-align: middle;
}



[data-animation="idle"].final-yellow {
  background-color: var(--yellow);
  color: white;
  border: none;
}

[data-animation="idle"].final-dark-gray {
  background-color: var(--darkGray);
  color: white;
  border: none;
}

[data-animation="idle"].final-green {
  background-color: var(--green);
  color: white;
  border: none;
}

/* This is important.
Chain multiple datasets as follows.
Also see: https://stackoverflow.com/a/12340746/1085805 */
[data-is-active-row=true] [data-is-blank-tile="false"] {
  border: 2px solid var(--gray);
}

/* Important.
Else, difficult to add event listener
to button with SVG. */
svg {
  pointer-events: none;
}

.keyboard {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto auto 10px auto;
}

.keyboard-row {
  display: flex;
  margin-bottom: 8px;
}

.keyboard-button {
  height: 58px;
  border-radius: 4px;
  border: none;
  padding: 0;
  margin: 0 6px 0 0;
  outline: none;
  user-select: none;
  text-transform: uppercase;
  flex: 1;
}

.game-icon {
  flex: 1.5;
}

#enter,
#delete {
  flex: 1.5;
}

/*This part is important*/
button:last-of-type {
  margin: 0;
}

.spacer {
  display: block;
  flex: 0.5;
}

[data-state="neutral"] {
  background-color: lightgray;
}

[data-state="incorrect"] {
  background-color: var(--darkGray);
  color: white;
}

[data-state="nonpositional"] {
  background-color: var(--yellow);
  color: white;
}

[data-state="correct"] {
  background-color: var(--green);
  color: white;
}

.tile.shake {
  animation: shake 600ms ease-in-out;
}

.tile.dance {
  animation: dance 500ms ease-in-out;
}


@keyframes shake {
  12.5% {
    transform: translateX(-8%);
  }

  25% {
    transform: translateX(8%);
  }

  37.5% {
    transform: translateX(-6%);
  }

  50% {
    transform: translateX(6%);
  }

  62.5% {
    transform: translateX(-4%);
  }

  75% {
    transform: translateX(-4%);
  }

  87.5% {
    transform: translateX(-2%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes dance {
  20% {
    transform: translateY(-50%);
  }

  40% {
    transform: translateY(5%);
  }

  60% {
    transform: translateY(-25%);
  }

  80% {
    transform: translateY(2.5%);
  }

  90% {
    transform: translateY(-5%);
  }

  100% {
    transform: translateY(0);
  }
}



.tile.flip {
  animation: flip 500ms linear;
}

.flip:nth-child(2) {
  animation-delay: 100ms;
}

.flip:nth-child(3) {
  animation-delay: 200ms;
}

.flip:nth-child(4) {
  animation-delay: 300ms;
}

.flip:nth-child(5) {
  animation-delay: 400ms;
}





@keyframes flip {
  0% {
    transform: rotateX(0);
  }

  50% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
    background-color: var(--flip-background-color);
    border: none;
    color: white;
  }

}


.tile.grow-and-shrink {
  animation: grow-and-shrink 150ms linear;
}

@keyframes grow-and-shrink {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}